.footer {
    margin-top: 3rem;
    height: 4rem;
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  .social-icons {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .social-icons a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icons a:hover {
    color: #ffd700; /* Change color on hover */
  }
  
  p {
    margin: 0;
  }
  